math/math.sdf
math/math.sln
math/math.v11.suo
math/math.vcxproj.filters
math/math.vcxproj.user
bin/*
build/
*.opensdf
*.vcxproj
*.filters
*.user
test/lib/
*.orig
documentation/out/
math/.vs/*
math/.vs/*
math/include/math/simd/vectorize_BACKUP_22292.h
math/include/math/simd/vectorize_BASE_22292.h
math/include/math/simd/vectorize_LOCAL_22292.h
math/include/math/simd/vectorize_REMOTE_22292.h
